

*,*:before,*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.main-container{
height: 100%;
}

.left-container{
	width: 60%;
	height: 100%;
	background-color: transparent;
	float: left;

	}
.right-container{
	width: 40%;
	height: 100%;
	background-color: transparent;
	float: right;
	background-image: url('../images/side-pose-prisma.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background

	}
/*
.avatar{
	display:inline;
	width: 100%;
	height: 80%;
	float: right;
}
.avatar-image{
	width:100%;
	height:100%;
}
*/
.get_in_touch{
	display:inline;
	float:right;
	width:100%;
	height:10%;
	margin-top: 100%;
	text-align: center;
	padding:10px 5px 5px 5px;

}

.intro{
	padding:10%;
	width:100%;
	height:50%;
	background-color: transparent;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;

}